### 连接数据库

In [4]:
import config

In [5]:
from config import database_config
db_config = database_config.connect_config

In [3]:
import pymysql

In [479]:
db = pymysql.connect(**db_config,)

Ready to sleep 5s ...
Ready to sleep 5s ...

In [481]:
cursor = db.cursor()

Ready to sleep 5s ...

In [432]:
cursor.execute("SHOW DATABASES;")

5

In [433]:
cursor.fetchall()

(('Juchao',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',))

In [293]:
cursor.execute("use Juchao;")

0

In [23]:
cursor.fetchall()

()

In [294]:
cursor.execute("SHOW TABLES;")

2

In [25]:
cursor.fetchall()

(('社会',),)

In [27]:
cursor.execute("DESCRIBE 社会;")

4

In [28]:
cursor.fetchall()

(('runoob_id', 'int unsigned', 'NO', 'PRI', None, 'auto_increment'),
 ('runoob_title', 'varchar(100)', 'NO', '', None, ''),
 ('runoob_author', 'varchar(40)', 'NO', '', None, ''),
 ('submission_date', 'date', 'YES', '', None, ''))

In [ ]:
cursor.execute("INSERT INTO  社会;")

### 数据库提交

In [205]:
db = pymysql.connect(**db_config,)
cursor = db.cursor()

In [83]:
cursor = db.cursor()

In [220]:
db.connect()

In [217]:
cursor.execute("""CREATE TABLE IF NOT EXISTS '社会及ok` (
`secCode` VARCHAR(20) NOT NULL,
`secName` VARCHAR(30) NOT NULL,
`orgId` VARCHAR(50),
`announcementId' VARCHAR(30) NOT NULL,
'announcementTitle' VARCHAR(100) NOT NULL,
'announcement_title' VARCHAR(100) NOT NULL,
'announcementTime' BIGINT UNSIGNED,
'announcement_year' YEAR,
'adjunctUrl' VARCHAR(100) NOT NULL,
'record_time' DATE,
'pages_num' INT UNSIGNED,
'words_num' BIGINT UNSIGNED,
PRIMARY KEY ( 'announcementId' )
)CHARSET=utf8;""")

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''社会及ok' (\n'secCode' VARCHAR(20) NOT NULL,\n'secName' VARCHAR(30) NOT NULL,\n' at line 1")

In [231]:
cursor.execute("use Juchao;")

0

In [232]:
cursor.execute(generate_create_query('社会及ok',column_dict,'announcementId'))

0

In [233]:
cursor.execute("SHOW TABLES;")
cursor.fetchall()

(('社会',), ('社会及ok',))

In [234]:
cursor.execute("DESCRIBE 社会及ok;")
cursor.fetchall()

(('secCode', 'varchar(20)', 'NO', '', None, ''),
 ('secName', 'varchar(30)', 'NO', '', None, ''),
 ('orgId', 'varchar(50)', 'YES', '', None, ''),
 ('announcementId', 'varchar(30)', 'NO', 'PRI', None, ''),
 ('announcementTitle', 'varchar(100)', 'NO', '', None, ''),
 ('announcement_title', 'varchar(100)', 'NO', '', None, ''),
 ('announcementTime', 'bigint unsigned', 'YES', '', None, ''),
 ('announcement_year', 'year', 'YES', '', None, ''),
 ('adjunctUrl', 'varchar(100)', 'NO', '', None, ''),
 ('record_time', 'date', 'YES', '', None, ''),
 ('pages_num', 'int unsigned', 'YES', '', None, ''),
 ('words_num', 'bigint unsigned', 'YES', '', None, ''))

In [236]:
while True:
    db.ping(True)

KeyboardInterrupt:

In [100]:
db.get_host_info()

'socket 148.100.76.200:3306'

In [101]:
db.get_server_info()

'8.0.31-0ubuntu0.22.04.1'

In [102]:
db.server_status

1

In [103]:
db.server_status

1

In [120]:
db.ping(reconnect=True)
cursor.execute("SHOW DATABASES;")
cursor.fetchall()

(('Juchao',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',))

In [111]:
db.ping(reconnect=True)
cursor.execute("use Juchao")
# cursor.

0

In [ ]:
db.connect_timeout = 10

In [126]:
db.connect_timeout

1

In [127]:
import time
i = 0
while True:
    i += 1
    time.sleep(5)
    print(db.server_status,i)
    # db.ping(reconnect=True)
    cursor.execute("SHOW DATABASES;")
    cursor.fetchall()

0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
0 10
0 11
0 12
0 13
0 14
0 15
0 16
0 17
0 18
0 19
0 20
0 21
0 22
0 23
0 24
0 25
0 26
0 27
0 28

KeyboardInterrupt:

In [113]:
db.ping(reconnect=True)
cursor.execute(";")

OperationalError: (1065, 'Query was empty')

In [118]:
cursor.execute("SHOW TABLES;")
cursor.fetchall()

OperationalError: (1046, 'No database selected')

#### 选中

In [95]:
cursor.execute("use Juchao;")
cursor.fetchall()

()

#### 插入字典

In [ ]:
cursor.execute()
cursor.fetchall()

In [ ]:
cursor.execute()
cursor.fetchall()

In [ ]:
cursor.execute()
cursor.fetchall()

In [ ]:
cursor.execute()
cursor.fetchall()

In [128]:
type(db)

pymysql.connections.Connection

### Juchao

### 类的定义

In [22]:
import config
from config import database_config
import pymysql
import threading
import time
import asyncio
connect_dict = database_config.connect_config


def rt_print(f):
    def wrapper(*args,**kwargs):
        res = f(*args,**kwargs)
        print(res)
        return res
    return wrapper


class MyDb(pymysql.connect):
    def __init__(self,database) -> None:
        print("正在建立MySQL连接...")
        pymysql.connect.__init__(self,database=database,**connect_dict)
        print("已建立MySQL连接")
        self.cursor = self.cursor()
        self.execute = self.cursor.execute
        self.fetch = rt_print(self.cursor.fetchall)
        pass

    def __del__(self):
        print("已关闭MySQL连接")

In [ ]:
aprint = print()

In [516]:
db.ping(True)

Ready to sleep 5s ...

In [438]:
db.ping(False)

#### 初始化MyDb

In [23]:
mdb = MyDb('Juchao')

正在建立MySQL连接...
已建立MySQL连接

In [3]:
mdb.keep_alive()

已创建Keep_Alive线程
Ready to sleep 5s ...

In [3]:
mdb.__dict__

{'_local_infile': False,
 'ssl': False,
 'host': '148.100.76.200',
 'port': 3306,
 'user': b'root',
 'password': b'@Shizheyuan0629',
 'db': b'Juchao',
 'unix_socket': None,
 'bind_address': None,
 'connect_timeout': 10,
 '_read_timeout': None,
 '_write_timeout': None,
 'charset': 'utf8mb4',
 'use_unicode': True,
 'encoding': 'utf8',
 'client_flag': 3842573,
 'cursorclass': pymysql.cursors.Cursor,
 '_result': None,
 '_affected_rows': 0,
 'host_info': 'socket 148.100.76.200:3306',
 'autocommit_mode': False,
 'encoders': {bool: <function pymysql.converters.escape_bool(value, mapping=None)>,
  int: <function pymysql.converters.escape_int(value, mapping=None)>,
  float: <function pymysql.converters.escape_float(value, mapping=None)>,
  str: <function pymysql.converters.escape_str(value, mapping=None)>,
  bytes: <function pymysql.converters.escape_bytes(value, mapping=None)>,
  tuple: <function pymysql.converters.escape_sequence(val, charset, mapping=None)>,
  list: <function pymysql.converters.escape_sequence(val, charset, mapping=None)>,
  set: <function pymysql.converters.escape_sequence(val, charset, mapping=None)>,
  frozenset: <function pymysql.converters.escape_sequence(val, charset, mapping=None)>,
  dict: <function pymysql.converters.escape_dict(val, charset, mapping=None)>,
  NoneType: <function pymysql.converters.escape_None(value, mapping=None)>,
  datetime.date: <function pymysql.converters.escape_date(obj, mapping=None)>,
  datetime.datetime: <function pymysql.converters.escape_datetime(obj, mapping=None)>,
  datetime.timedelta: <function pymysql.converters.escape_timedelta(obj, mapping=None)>,
  datetime.time: <function pymysql.converters.escape_time(obj, mapping=None)>,
  time.struct_time: <function pymysql.converters.escape_struct_time(obj, mapping=None)>,
  decimal.Decimal: <function pymysql.converters.Decimal2Literal(o, d)>},
 'decoders': {16: <function pymysql.converters.through(x)>,
  1: int,
  2: int,
  3: int,
  4: float,
  5: float,
  8: int,
  9: int,
  13: int,
  7: <function pymysql.converters.convert_datetime(obj)>,
  12: <function pymysql.converters.convert_datetime(obj)>,
  11: <function pymysql.converters.convert_timedelta(obj)>,
  10: <function pymysql.converters.convert_date(obj)>,
  252: <function pymysql.converters.through(x)>,
  249: <function pymysql.converters.through(x)>,
  250: <function pymysql.converters.through(x)>,
  251: <function pymysql.converters.through(x)>,
  254: <function pymysql.converters.through(x)>,
  253: <function pymysql.converters.through(x)>,
  15: <function pymysql.converters.through(x)>,
  0: decimal.Decimal,
  246: decimal.Decimal},
 'sql_mode': None,
 'init_command': None,
 'max_allowed_packet': 16777216,
 '_auth_plugin_map': {},
 '_binary_prefix': False,
 'server_public_key': None,
 '_connect_attrs': {'_client_name': 'pymysql',
  '_pid': '610763',
  '_client_version': '1.0.2'},
 '_closed': False,
 '_sock': <socket.socket fd=120, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('192.168.43.2', 39210), raddr=('148.100.76.200', 3306)>,
 '_rfile': <_io.BufferedReader name=120>,
 '_next_seq_id': 2,
 'protocol_version': 10,
 'server_version': '8.0.31-0ubuntu0.22.04.1',
 'server_thread_id': (60,),
 'salt': b'l5o\x01`\x16\x12\x14\x0e*\x1b\x06/tmaFo%6',
 'server_capabilities': 3758096383,
 'server_language': 255,
 'server_charset': 'utf8mb4',
 'server_status': 0,
 '_auth_plugin_name': 'caching_sha2_password',
 'cursor': <pymysql.cursors.Cursor at 0x7fedccf4d190>,
 'execute': <bound method Cursor.execute of <pymysql.cursors.Cursor object at 0x7fedccf4d190>>}

#### 操作MyDb

In [24]:
mdb.execute("use Juchao")

0

In [25]:
mdb.execute("SHOW TABLES")

2

In [8]:
mdb.cursor.fetchall()

()

In [26]:
mdb.execute("SELECT * FROM 社会及ok")

3

In [27]:
mdb.fetch()

(('000039', '中集集团', 'gssz0000039', '1204526484', '中集集团：2017年<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告', '中集集团：2017年社会责任暨环境、社会及管治报告', 1522166400000, 2018, 'finalpage/2018-03-28/1204526484.PDF', datetime.date(2023, 1, 18), 81, 44213), ('000039', '中集集团', 'gssz0000039', '1205949450', '中集集团：2018<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告', '中集集团：2018社会责任暨环境、社会及管治报告', 1553702400000, 2019, 'finalpage/2019-03-28/1205949450.PDF', datetime.date(2023, 1, 18), 100, 73065), ('000039', '中集集团', 'gssz0000039', '1207411179', '中集集团：<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告（2019）', '中集集团：社会责任暨环境、社会及管治报告（2019）', 1585238400000, 2020, 'finalpage/2020-03-27/1207411179.PDF', datetime.date(2023, 1, 18), 92, 63008))

(('000039',
  '中集集团',
  'gssz0000039',
  '1204526484',
  '中集集团：2017年<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告',
  '中集集团：2017年社会责任暨环境、社会及管治报告',
  1522166400000,
  2018,
  'finalpage/2018-03-28/1204526484.PDF',
  datetime.date(2023, 1, 18),
  81,
  44213),
 ('000039',
  '中集集团',
  'gssz0000039',
  '1205949450',
  '中集集团：2018<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告',
  '中集集团：2018社会责任暨环境、社会及管治报告',
  1553702400000,
  2019,
  'finalpage/2019-03-28/1205949450.PDF',
  datetime.date(2023, 1, 18),
  100,
  73065),
 ('000039',
  '中集集团',
  'gssz0000039',
  '1207411179',
  '中集集团：<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告（2019）',
  '中集集团：社会责任暨环境、社会及管治报告（2019）',
  1585238400000,
  2020,
  'finalpage/2020-03-27/1207411179.PDF',
  datetime.date(2023, 1, 18),
  92,
  63008))

In [14]:
mdb.execute(generate_insert_sql('社会及ok',rows))

3

In [15]:
mdb.cursor.execute("SELECT * FROM 社会及ok")

3

In [17]:
mdb.cursor.fetchall()

(('000039',
  '中集集团',
  'gssz0000039',
  '1204526484',
  '中集集团：2017年<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告',
  '中集集团：2017年社会责任暨环境、社会及管治报告',
  1522166400000,
  2018,
  'finalpage/2018-03-28/1204526484.PDF',
  datetime.date(2023, 1, 18),
  81,
  44213),
 ('000039',
  '中集集团',
  'gssz0000039',
  '1205949450',
  '中集集团：2018<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告',
  '中集集团：2018社会责任暨环境、社会及管治报告',
  1553702400000,
  2019,
  'finalpage/2019-03-28/1205949450.PDF',
  datetime.date(2023, 1, 18),
  100,
  73065),
 ('000039',
  '中集集团',
  'gssz0000039',
  '1207411179',
  '中集集团：<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告（2019）',
  '中集集团：社会责任暨环境、社会及管治报告（2019）',
  1585238400000,
  2020,
  'finalpage/2020-03-27/1207411179.PDF',
  datetime.date(2023, 1, 18),
  92,
  63008))

In [18]:
mdb.commit()

In [19]:
mdb.close()

In [14]:
del(mdb)

Ready to sleep 5s ...

Ready to sleep 5s ...

/tmp/ipykernel_610424/2828508941.py:14: RuntimeWarning: coroutine 'sleep' was never awaited
  asyncio.sleep(5)
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

Ready to sleep 5s ...
Ready to sleep 5s ...

In [527]:
mdb.execute("SHOW TABLES;")

InterfaceError: (0, '')

In [528]:
mdb.cursor.fetchall()

()

Ready to sleep 5s ...

In [ ]:
param_dict = {
        # 搜索的关键词，如【'企业社会责任'】
        'searchkey':'社会及管治',
        # 发布起始时间，如【'2023-01-04'】【''表示不进行限制 】 
        'sdate':'', 
        # 发布截止时间，如【'2023-02-24'】【''表示不进行限制 】
        'edate':'', 
        # 是否进行全文搜索，【'false'为只搜索标题，'true'为搜索全文 】
        'isfulltext':'false', 
        # 板块筛选，【''为全部板块，'shj'为深沪京，'s'为三板... 】
        'type':'shj', 
    }

tablename = param_dict['searchkey']

In [147]:
mdb.execute("""CREATE TABLE """,)

AttributeError: 'MyDb' object has no attribute 'ping'

### 快速创建字典

In [167]:
param_dict = {
        # 搜索的关键词，如【'企业社会责任'】
        'searchkey':'社会及管治',
        # 发布起始时间，如【'2023-01-04'】【''表示不进行限制 】 
        'sdate':'', 
        # 发布截止时间，如【'2023-02-24'】【''表示不进行限制 】
        'edate':'', 
        # 是否进行全文搜索，【'false'为只搜索标题，'true'为搜索全文 】
        'isfulltext':'false', 
        # 板块筛选，【''为全部板块，'shj'为深沪京，'s'为三板... 】
        'type':'shj', 
    }

In [174]:
{key:value for key,value in zip(['column_main','column_2','column_3',
'column_4','column_5'],param_dict.values())}

{'column_main': '社会及管治',
 'column_2': '',
 'column_3': '',
 'column_4': 'false',
 'column_5': 'shj'}

## 生成语句函数

### 创建表格语句

In [228]:
"""CREATE TABLE IF NOT EXISTS '%(table_name)s'{
    

}
"""

# res_dict = {
#     'secCode':an_dict['secCode'],
#     'secName':an_dict['secName'],
#     'orgId':an_dict['orgId'],
#     'announcementId':an_dict['announcementId'],
#     'announcementTitle':an_dict['announcementTitle'],
#     'announcement_title':reFormat.remove_em(an_dict['announcementTitle']),
#     'announcementTime':an_dict['announcementTime'],
#     'announcement_year':myTime(an_dict['announcementTime']/1000).year, # 实际时间如'2018-03-28 00:00:10'
#     'adjunctUrl':an_dict['adjunctUrl'],
#     'record_time':myTime(time.time()).date, # 记录日期
# }
columns_key = [
        'secCode',
        'secName',
        'orgId',
        'announcementId',
        'announcementTitle',
        ]
    # {'id': None, 'secCode': '000039', 'secName': '中集集团', 
    # 'orgId': 'gssz0000039', 'announcementId': '1204526484', 
    # 'announcementTitle': '中集集团：2017年<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告', 
    # 'announcementTime': 1522166400000, 'adjunctUrl': 'finalpage/2018-03-28/1204526484.PDF', 
    # 'adjunctSize': 2190, 'adjunctType': 'PDF', 'storageTime': None, 
    # 'columnId': '09020202||250101||251302', 'pageColumn': 'SZZB', 
    # 'announcementType': '01010503||010112||01239999', 'associateAnnouncement': None, 
    # 'important': None, 'batchNum': None, 'announcementContent': None, 'orgName': None, 
    # 'announcementTypeName': None}
column_dict = {
    'secCode':'VARCHAR(20) NOT NULL',
    'secName':'VARCHAR(30) NOT NULL',
    'orgId':'VARCHAR(50)',
    'announcementId':'VARCHAR(30) NOT NULL',
    'announcementTitle':'VARCHAR(100) NOT NULL',
    'announcement_title':'VARCHAR(100) NOT NULL',
    'announcementTime':'BIGINT UNSIGNED',
    'announcement_year':'YEAR', # 实际时间如'2018'
    'adjunctUrl':'VARCHAR(100) NOT NULL',
    'record_time':'DATE', # 记录日期
    'pages_num':'INT UNSIGNED',
    'words_num':'BIGINT UNSIGNED'
}


def generate_create_sql(table_name,columns_infos_dict,primary_key):
    """For Example:
    columns_infos_dict = {
    'secCode':'VARCHAR(20) NOT NULL',
    'secName':'VARCHAR(30) NOT NULL',
    'orgId':'VARCHAR(50)',
    'announcementId':'VARCHAR(30) NOT NULL',
    'announcementTitle':'VARCHAR(100) NOT NULL',
    'announcement_title':'VARCHAR(100) NOT NULL',
    'announcementTime':'BIGINT UNSIGNED',
    'announcement_year':'YEAR', # 实际时间如'2018'
    'adjunctUrl':'VARCHAR(100) NOT NULL',
    'record_time':'DATE', # 记录日期
    'pages_num':'INT UNSIGNED',
    'words_num':'BIGINT UNSIGNED'
}"""
    sql = f"CREATE TABLE IF NOT EXISTS `{table_name}`" + """(
    """ + ',\n    '.join( [f"`{key}` {value}" for key,value in columns_infos_dict.items()] ) +f""",
    PRIMARY KEY ( `{primary_key}` )
)CHARSET=utf8;"""
    return sql

In [229]:
print(generate_create_sql('社会及ok',column_dict,'announcementId'))

CREATE TABLE IF NOT EXISTS `社会及ok`(
    `secCode` VARCHAR(20) NOT NULL,
    `secName` VARCHAR(30) NOT NULL,
    `orgId` VARCHAR(50),
    `announcementId` VARCHAR(30) NOT NULL,
    `announcementTitle` VARCHAR(100) NOT NULL,
    `announcement_title` VARCHAR(100) NOT NULL,
    `announcementTime` BIGINT UNSIGNED,
    `announcement_year` YEAR,
    `adjunctUrl` VARCHAR(100) NOT NULL,
    `record_time` DATE,
    `pages_num` INT UNSIGNED,
    `words_num` BIGINT UNSIGNED,
    PRIMARY KEY ( `announcementId` )
)CHARSET=utf8;

In [187]:
build_string = """,\n""".join( [f"""'{key}' {value}""" for key,value in column_dict.items()] )

In [188]:
print(build_string)

'secCode' VARCHAR(20) NOT NULL,
'secName' VARCHAR(30) NOT NULL,
'orgId' VARCHAR(50),
'announcementId' VARCHAR(30) NOT NULL,
'announcementTitle' VARCHAR(100) NOT NULL,
'announcement_title' VARCHAR(100) NOT NULL,
'announcementTime' BIGINT UNSIGNED,
'announcement_year' YEAR,
'adjunctUrl' VARCHAR(100) NOT NULL,
'record_time' DATE,
'pages_num' INT UNSIGNED,
'words_num' BIGINT UNSIGNED

In [177]:
len('finalpage/2018-03-28/1204526484.PDF')

35

In [176]:
a = 1522166400000
import math
math.log2(a)/8

5.058657902308816

### 插入语句函数

In [13]:
def generate_values(input_dict):
    values = '(' + ','.join([f"""\"{value}\"""" for value in input_dict.values()]) + ')'
    return values

def generate_insert_sql(table_name,input_args):
    """可传入一个字典或多个共同键的字典列表"""
    if type(input_args) == list:
        column_names = ','.join(input_args[0].keys())
    elif type(input_args) == dict:
        column_names = ','.join(input_args.keys())
    valuess = ','.join([generate_values(input_dict) for input_dict in input_args])
    sql = f"INSERT IGNORE INTO `{table_name}` ( {column_names} ) VALUES {valuess};"
    return sql

In [268]:


a = [1,2,3]
list(a)

[1, 2, 3]

In [265]:
','.join(['(1,xxxx)'])

'(1,xxxx)'

## 数据库语句分类

### 【 持续连接 】

In [423]:
import time
while True:
    time.sleep(5)
    db.ping(True)

KeyboardInterrupt:

### 插入

In [10]:
row1 = {'secCode': '000039', 'secName': '中集集团', 'orgId': 'gssz0000039', 'announcementId': '1204526484', 'announcementTitle': '中集集团：2017年<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告', 'announcement_title': '中集集团：2017年社会责任暨环境、社会及管治报告', 'announcementTime': 1522166400000, 'announcement_year': '2018', 'adjunctUrl': 'finalpage/2018-03-28/1204526484.PDF', 'record_time': '2023-01-18', 'pages_num': 81, 'words_num': 44213}

In [11]:
row2,row3 = [{'secCode': '000039', 'secName': '中集集团', 'orgId': 'gssz0000039', 'announcementId': '1205949450', 'announcementTitle': '中集集团：2018<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告', 'announcement_title': '中集集团：2018社会责任暨环境、社会及管治报告', 'announcementTime': 1553702400000, 'announcement_year': '2019', 'adjunctUrl': 'finalpage/2019-03-28/1205949450.PDF', 'record_time': '2023-01-18', 'pages_num': 100, 'words_num': 73065}, {'secCode': '000039', 'secName': '中集集团', 'orgId': 'gssz0000039', 'announcementId': '1207411179', 'announcementTitle': '中集集团：<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告（2019）', 'announcement_title': '中集集团：社会责任暨环境、社会及管治报告（2019）', 'announcementTime': 1585238400000, 'announcement_year': '2020', 'adjunctUrl': 'finalpage/2020-03-27/1207411179.PDF', 'record_time': '2023-01-18', 'pages_num': 92, 'words_num': 63008}]

In [243]:
','.join(list(row1.values()))

TypeError: sequence item 6: expected str instance, int found

In [345]:
# ["\"" + "\""]
res = ','.join([f"""\"{value}\"""" 
if type(value) == str else f"""'{value}'"""
for value in row1.values() ])
print(res)

"000039","中集集团","gssz0000039","1204526484","中集集团：2017年<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告","中集集团：2017年社会责任暨环境、社会及管治报告",'1522166400000',"2018","finalpage/2018-03-28/1204526484.PDF","2023-01-18",'81','44213'

In [254]:
insert_command = f"INSERT INTO 社会及ok VALUES ({res});"

In [337]:
# ["\"" + "\""]
res2 = ','.join([f"""\"{value}\"""" 
for value in row2.values() ])
print(res2)
res3 = ','.join([f"""\"{value}\"""" 
for value in row3.values() ])
print(res3)

"000039","中集集团","gssz0000039","1205949450","中集集团：2018<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告","中集集团：2018社会责任暨环境、社会及管治报告","1553702400000","2019","finalpage/2019-03-28/1205949450.PDF","2023-01-18","100","73065"
"000039","中集集团","gssz0000039","1207411179","中集集团：<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告（2019）","中集集团：社会责任暨环境、社会及管治报告（2019）","1585238400000","2020","finalpage/2020-03-27/1207411179.PDF","2023-01-18","92","63008"

In [306]:
# ["\"" + "\""]
res = ','.join([f"""\"{value}\"""" 
if type(value) == str else f"""'{value}'"""
for value in row1.values() ])
print(res)

"000039","中集集团","gssz0000039","1204526484","中集集团：2017年<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告","中集集团：2017年社会责任暨环境、社会及管治报告",'1522166400000',"2018","finalpage/2018-03-28/1204526484.PDF","2023-01-18",'81','44213'

In [329]:
insert_command = f"INSERT IGNORE INTO 社会及ok VALUES ({res});"

In [354]:
insert_command = f"INSERT IGNORE INTO 社会及ok VALUES ({res}),({res2});"

In [403]:
insert_command = f"INSERT IGNORE INTO 社会及ok VALUES ({res2}),({res3});"

In [369]:
insert_command = f"INSERT INTO 社会及ok VALUES ({res}),({res2}) ON DUPLICATE KEY UPDATE;"

In [483]:
cursor.execute("use Juchao;")

0

Ready to sleep 5s ...

In [341]:
db.connect()

In [404]:
cursor.execute(insert_command)
cursor.fetchall()

()


IntegrityError: (1062, "Duplicate entry '1204526484' for key '社会及ok.PRIMARY'")

#### 多条同时插入

In [12]:
rows = [row1,row2,row3]

In [416]:
rows

[{'secCode': '000039',
  'secName': '中集集团',
  'orgId': 'gssz0000039',
  'announcementId': '1204526484',
  'announcementTitle': '中集集团：2017年<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告',
  'announcement_title': '中集集团：2017年社会责任暨环境、社会及管治报告',
  'announcementTime': 1522166400000,
  'announcement_year': '2018',
  'adjunctUrl': 'finalpage/2018-03-28/1204526484.PDF',
  'record_time': '2023-01-18',
  'pages_num': 81,
  'words_num': 44213},
 {'secCode': '000039',
  'secName': '中集集团',
  'orgId': 'gssz0000039',
  'announcementId': '1205949450',
  'announcementTitle': '中集集团：2018<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告',
  'announcement_title': '中集集团：2018社会责任暨环境、社会及管治报告',
  'announcementTime': 1553702400000,
  'announcement_year': '2019',
  'adjunctUrl': 'finalpage/2019-03-28/1205949450.PDF',
  'record_time': '2023-01-18',
  'pages_num': 100,
  'words_num': 73065},
 {'secCode': '000039',
  'secName': '中集集团',
  'orgId': 'gssz0000039',
  'announcementId': '1207411179',
  'announcementTitle': '中集集团：<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告（2019）',
  'announcement_title': '中集集团：社会责任暨环境、社会及管治报告（2019）',
  'announcementTime': 1585238400000,
  'announcement_year': '2020',
  'adjunctUrl': 'finalpage/2020-03-27/1207411179.PDF',
  'record_time': '2023-01-18',
  'pages_num': 92,
  'words_num': 63008}]

In [485]:
cursor.execute(generate_insert_sql('社会及ok',rows))

3

Ready to sleep 5s ...

### 事务

In [407]:
db.rollback()

In [507]:
db.commit()

Ready to sleep 5s ...

In [440]:
db.close()

### 查表

In [506]:
cursor.execute("SELECT * FROM 社会及ok")
res = cursor.fetchall()
print(res)
print(len(res))

()
0

Ready to sleep 5s ...

### 删除

In [505]:
cursor.execute("DELETE FROM 社会及ok;")
cursor.fetchall()

Ready to sleep 5s ...

()

(('000039',
  '中集集团',
  'gssz0000039',
  '1204526484',
  '中集集团：2017年<em>社会</em>责任暨环境、<em>社会</em><em>及</em><em>管治</em>报告',
  '中集集团：2017年社会责任暨环境、社会及管治报告',
  1522166400000,
  2018,
  'finalpage/2018-03-28/1204526484.PDF',
  datetime.date(2023, 1, 18),
  81,
  44213),)

##

### 将列表中的值写入对应的字典中

In [160]:
pdfs_res = [{'pages_num':i,'words_num':i**2,} for i in range(10)]    # ['1','2','3','4','5','6','7','8',]
pdfs_res

[{'pages_num': 0, 'words_num': 0},
 {'pages_num': 1, 'words_num': 1},
 {'pages_num': 2, 'words_num': 4},
 {'pages_num': 3, 'words_num': 9},
 {'pages_num': 4, 'words_num': 16},
 {'pages_num': 5, 'words_num': 25},
 {'pages_num': 6, 'words_num': 36},
 {'pages_num': 7, 'words_num': 49},
 {'pages_num': 8, 'words_num': 64},
 {'pages_num': 9, 'words_num': 81}]

In [161]:
raw_res = [{'id':i-1,'title':"bea",} for i in range(10)]    # ['1','2','3','4','5','6','7','8',]
raw_res

[{'id': -1, 'title': 'bea'},
 {'id': 0, 'title': 'bea'},
 {'id': 1, 'title': 'bea'},
 {'id': 2, 'title': 'bea'},
 {'id': 3, 'title': 'bea'},
 {'id': 4, 'title': 'bea'},
 {'id': 5, 'title': 'bea'},
 {'id': 6, 'title': 'bea'},
 {'id': 7, 'title': 'bea'},
 {'id': 8, 'title': 'bea'}]

In [165]:
[raw_re.update(pdf_res) for pdf_res,raw_re in zip(pdfs_res,raw_res) ]

[None, None, None, None, None, None, None, None, None, None]

In [166]:
(raw_re.update(pdf_res) for pdf_res,raw_re in zip(pdfs_res,raw_res))

In [164]:
raw_res

[{'id': -1, 'title': 'bea', 'pages_num': 0, 'words_num': 0},
 {'id': 0, 'title': 'bea', 'pages_num': 1, 'words_num': 1},
 {'id': 1, 'title': 'bea', 'pages_num': 2, 'words_num': 4},
 {'id': 2, 'title': 'bea', 'pages_num': 3, 'words_num': 9},
 {'id': 3, 'title': 'bea', 'pages_num': 4, 'words_num': 16},
 {'id': 4, 'title': 'bea', 'pages_num': 5, 'words_num': 25},
 {'id': 5, 'title': 'bea', 'pages_num': 6, 'words_num': 36},
 {'id': 6, 'title': 'bea', 'pages_num': 7, 'words_num': 49},
 {'id': 7, 'title': 'bea', 'pages_num': 8, 'words_num': 64},
 {'id': 8, 'title': 'bea', 'pages_num': 9, 'words_num': 81}]